* {
  padding: 0;
  margin: .25ch auto;
  border: none;
}
html {
  font: 1.25em/1.5 "Helvetica Neue", Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
}
body {
  max-width: 75ch;
  padding: 1ch;
  margin: auto;
}
h1 {
  margin-top: 0;
}
h2 {
  margin-top: 2ch
}
p {
  margin-top: .5ch
}
a:hover, a:focus, a:active {
  text-decoration: none;
}
img {
  width: 100%;
}
hr {
  background: #000;
  height: .2ch;
}
.horizontal {
  display: flex;
}
.horizontal > * {
  margin-right: 1ch;
}
.horizontal > *:last-child {
  margin-right: 0;
}
.article-img {
  width: 40%;
  height: auto;
}
.article-desc {
  width: 60%;
}
.article-list a {
  color: #000;
  text-decoration: none;
}
.article-list > a:hover, .article-list > a:focus, .article-list > a:active {
  text-decoration: underline;
}
.date {
  color: #777;
  margin-top: 1ch;
}
#bio-text {
  width: 70%;
}
#headshot {
  max-width: 30ch;
}
